<!DOCTYPE html>
<html>
  <head>
    <title>When is your next solar eclipse?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Roboto+Condensed:wght@400;700&family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <%= content_for :head %>
  </head>

  <body
    data-controller="main"
    class="min-h-screen bg-cover bg-no-repeat bg-center bg-fixed bg-black"
    style="background-image: url(<%= asset_url 'eclipse.jpg' %>);"
  >
    <%= yield %>
  </body>
</html>
